@import "theme.rasi"

window {
    width: 340px;
    location: north east;
    anchor: north east;
    x-offset: -12px;
    y-offset: 40px;
}

mainbox {
    children: [ listview ];
}

listview {
    columns:      1;
    lines:        3;
    fixed-height: true;
}

element {
    background-color: @surface;
}

element-text {
    text-color: inherit;
}

element.normal           { text-color: @muted; }
element.normal.urgent    { text-color: @highlight; }
element.normal.active    { text-color: @info; }

element.selected.urgent { text-color: @highlight; }
element.selected.active { text-color: @info; }
