@import "theme.rasi"

window {
    width: 420px;
    location: center;
    anchor: center;
}

mainbox {
    children: [ listview ];
}

listview {
    columns:      1;
    lines:        20;
    spacing:      0px;
    fixed-height: false;
    dynamic:      false;
}

element {
    padding: 2px 6px;
}

element-text {
    font:       "AdwaitaMono Nerd Font Mono 10";
    text-color: @muted;
}

element.normal.active {
    text-color: @primary;
}

element.normal.urgent {
    text-color: @fg;
}
