@import "theme.rasi"

window {
    width: 340px;
    location: north;
    anchor: north;
    y-offset: 40px;
}

mainbox {
    children: [ inputbar, listview ];
}

inputbar {
    children: [ prompt ];
    /* Hide the blinking cursor/entry completely */
}

prompt {
    text-color: @primary;
}

listview {
    columns:      1;
    lines:        20;
    spacing:      0px;
    fixed-height: false;
    dynamic:      false;
}

element {
    padding: 2px 16px;
    border-radius: 4px;
}

element-text {
    font:       "AdwaitaMono Nerd Font Mono 11";
    text-color: @muted;
}

element.normal.active {
    text-color: @primary;
}

element.normal.urgent {
    text-color: @fg;
}
