@import "theme.rasi"

configuration {
    show-icons: true;
    icon-theme: "Papirus-Dark";
}

window {
    width: 420px;
    location: center;
    anchor: center;
}

mainbox {
    children: [ inputbar, listview ];
}

inputbar {
    children: [ prompt, entry ];
    background-color: @overlay;
    border-radius: 8px;
    padding: 10px 14px;
}

prompt {
    text-color:  @primary;
    font:        "AdwaitaMono Nerd Font 10.5 Bold";
    padding:     0px 8px 0px 0px;
}

entry {
    text-color:        @fg;
    placeholder:        "Emoji...";
    placeholder-color:  @muted;
}

listview {
    columns:      6;
    lines:        6;
    fixed-height: true;
}

element {
}

element-text {
    font:             "Noto Color Emoji 16";
    horizontal-align: 0.5;
    vertical-align:   0.5;
}
