@import "theme.rasi"

window {
    width: 420px;
    location: center;
    anchor: center;
}

mainbox {
    background-color: @bg;
    padding: 12px;
    children: [ inputbar, listview ];
}

inputbar {
    background-color: @surface;
    border-radius:    8px;
    padding:          8px 12px;
    margin:           0px 0px 8px 0px;
    children:         [ entry ];
}

entry {
    text-color:        @fg;
    placeholder:        "Emoji...";
    placeholder-color:  @muted;
}

configuration {
    show-icons: true;
    icon-theme: "Papirus-Dark";
}

listview {
    columns:      6;
    lines:        6;
    spacing:      4px;
    fixed-height: true;
    background-color: transparent;
}

element {
    padding:        6px;
    border-radius:  6px;
    font:           "AdwaitaMono Nerd Font 16, Noto Color Emoji 16";
}

element-text {
    horizontal-align: 0.5;
    vertical-align:   0.5;
}
