@import "theme.rasi"

configuration {
    show-icons: true;
    icon-theme: "Papirus-Dark";
}

window {
    width: 420px;
    location: center;
    anchor: center;
}

mainbox {
    children: [ inputbar, listview ];
}

inputbar {
    children: [ entry ];
}

entry {
    text-color:        @fg;
    placeholder:        "Emoji...";
    placeholder-color:  @muted;
}

listview {
    columns:      6;
    lines:        6;
    fixed-height: true;
}

element {
    font:           "AdwaitaMono Nerd Font 16, Noto Color Emoji 16";
}

element-text {
    horizontal-align: 0.5;
    vertical-align:   0.5;
}
