@import "theme.rasi"

configuration {
    show-icons: true;
    icon-theme: "Papirus-Dark";
    display-drun: "Launch";
    drun-display-format: "{name}";
}

window {
    width: 640px;
    location: center;
    anchor: center;
}

mainbox {
    children: [ inputbar, listview ];
}

inputbar {
    children: [ prompt, entry ];
}

prompt {
    text-color:  @primary;
    padding:     0px 8px 0px 0px;
}

entry {
    text-color:        @fg;
    placeholder:        "Search...";
    placeholder-color:  @muted;
}

listview {
    columns:    2;
    lines:      6;
    fixed-height: true;
}

element {
    orientation:    horizontal;
}

element-icon {
    size:   28px;
    margin: 0px 10px 0px 0px;
}

element-text {
    text-color: inherit;
    vertical-align: 0.5;
}
