@import "theme.rasi"

configuration {
    show-icons: true;
    icon-theme: "Papirus-Dark";
    display-drun: "LAUNCH";
    drun-display-format: "{name} [<span size='9pt' fgcolor='#8D95B3'>{generic}</span>]";
    drun-match-fields: "name,generic,exec,categories";
}

window {
    width: 35%;
    height: 100%;
    location: north west;
    anchor: north west;
    y-offset: 0px;
    x-offset: 0px;
    border-radius: 0px;
    border: 0px 2px 0px 0px;
    border-color: @primary;
    background-color: @bg;
}

mainbox {
    orientation: horizontal;
    children: [ mode-switcher, rightbox ];
    spacing: 0px;
    background-color: transparent;
}

mode-switcher {
    orientation: vertical;
    width: 150px;
    spacing: 0px;
    padding: 24px 0px;
    background-color: @surface-trans;
    border: 0px 1px 0px 0px;
    border-color: @muted;
}

button {
    padding: 14px 16px;
    border-radius: 0px;
    text-color: @muted;
    background-color: transparent;
    cursor: pointer;
    font: "AdwaitaMono Nerd Font 10 Bold";
    border: 0px;
}

button selected {
    text-color: @bg;
    background-color: @primary;
    border: 0px 3px 0px 0px;
    border-color: @fg;
}

rightbox {
    orientation: vertical;
    children: [ inputbar, listview ];
    expand: true;
    padding: 24px;
    spacing: 24px;
    background-color: transparent;
}

inputbar {
    children: [ prompt, entry ];
    background-color: @surface;
    border-radius: 0px;
    border: 1px;
    border-color: @overlay;
    padding: 16px;
}

prompt {
    text-color: @primary;
    font: "AdwaitaMono Nerd Font 11 Bold";
    padding: 0px 12px 0px 0px;
    background-color: inherit;
}

entry {
    text-color: @fg;
    placeholder: "SEARCH //";
    placeholder-color: @muted;
    font: "AdwaitaMono Nerd Font 11";
    background-color: inherit;
}

listview {
    columns: 2;
    lines: 10;
    spacing: 12px;
    fixed-height: true;
    markup-rows: true;
    background-color: transparent;
    border: 0px;
}

element {
    orientation: horizontal;
    padding: 12px 14px;
    border-radius: 0px;
    background-color: transparent;
    border: 1px;
    border-color: transparent;
}

element selected {
    background-color: @overlay;
    text-color: @fg;
    border-color: @primary;
}

element normal {
    text-color: @fg;
}

element-icon {
    size: 24px;
    margin: 0px 14px 0px 0px;
    background-color: inherit;
}

element-text {
    text-color: inherit;
    background-color: inherit;
    vertical-align: 0.5;
    font: "AdwaitaMono Nerd Font 10 Bold";
}
