@import "theme.rasi"

window {
    width: 480px;
    location: center;
    anchor: center;
}

mainbox {
    children: [ inputbar, listview ];
}

inputbar {
    children:         [ prompt, entry ];
}

prompt {
    text-color: @secondary;
    padding:    0px 8px 0px 0px;
}

entry {
    text-color:        @fg;
    placeholder-color:  @muted;
}

listview {
    columns:      1;
    lines:        10;
    fixed-height: false;
}

element-text {
    text-color: inherit;
}

element.normal.active   { text-color: @info; }
element.selected.active { text-color: @info; }
