@import "theme.rasi"

window {
    width: 520px;
    location: center;
    anchor: center;
}

mainbox {
    children: [ listview ];
    padding: 16px;
}

listview {
    columns:      5;
    lines:        1;
    spacing:      8px;
    fixed-height: true;
}

element {
    orientation:      vertical;
    padding:          16px 8px;
    border-radius:    8px;
    background-color: @surface;
    border:           1px;
    border-color:     @overlay;
}

element-text {
    horizontal-align: 0.5;
    text-color:       @fg;
    font:             "AdwaitaMono Nerd Font 11 Bold";
}

element selected {
    background-color: @overlay;
    border-color:     @primary;
}

element selected.urgent {
    border-color: @danger;
    text-color:   @danger;
}

element selected.active {
    border-color: @warning;
    text-color:   @warning;
}

element normal.urgent {
    text-color: @danger;
}

element normal.active {
    text-color: @warning;
}

