@import "theme.rasi"

window {
    width: 480px;
    location: center;
    anchor: center;
}

mainbox {
    children: [ listview ];
}

listview {
    columns:      5;
    lines:        1;
    fixed-height: true;
}

element {
    orientation:    vertical;
    padding:        20px 10px;
    background-color: @surface;
}

element-text {
    horizontal-align: 0.5;
    text-color: inherit;
}

element.selected.urgent {
    text-color: @danger;
}

element.selected.active {
    text-color: @warning;
}

element.normal.urgent {
    text-color: @danger;
}

element.normal.active {
    text-color: @warning;
}
