@import "theme.rasi"

window {
    width: 600px;
    location: center;
    anchor: center;
}

mainbox {
    children: [ message, listview ];
    padding: 16px;
    spacing: 16px;
}

message {
    background-color: @overlay;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px;
    border-color: rgba(0, 217, 255, 0.2);
}

textbox {
    text-color: @fg;
    font: "AdwaitaMono Nerd Font 10.5 Bold";
    horizontal-align: 0.5;
}

listview {
    columns:      2;
    lines:        7;
    spacing:      8px;
    fixed-height: true;
}

element {
    orientation:      horizontal;
    padding:          12px 16px;
    border-radius:    8px;
    background-color: @surface;
    border:           1px;
    border-color:     @overlay;
}

element-text {
    vertical-align: 0.5;
    text-color:       @muted;
    font:             "AdwaitaMono Nerd Font 11 Bold";
}

element selected {
    background-color: @overlay;
    border-color:     @primary;
}

element selected element-text {
    text-color:       @fg;
}
