@import "~/.config/rofi/theme.rasi"

configuration {
    show-icons: true;
    icon-theme: "Papirus-Dark";
    font: "AdwaitaMono Nerd Font 11";
}

window {
    width:  1180px;
    height: 760px;
    location: center;
    anchor: center;
    background-color: @bg-trans;
    border: 2px;
    border-color: @primary;
    border-radius: 16px;
}

mainbox {
    background-color: transparent;
    padding: 20px;
    children: [ inputbar, message, listview ];
}

inputbar {
    background-color: @surface;
    border: 1px;
    border-color: @overlay;
    border-radius: 10px;
    padding: 12px 16px;
    margin: 0px 0px 14px 0px;
    children: [ prompt, entry ];
}

prompt {
    text-color: @primary;
    padding: 0px 10px 0px 0px;
    str: "󰸉";
}

entry {
    text-color: @fg;
    placeholder: "Search wallpapers";
    placeholder-color: @muted;
}

message {
    background-color: transparent;
    margin: 0px;
}

listview {
    columns: 4;
    lines: 3;
    spacing: 12px;
    fixed-height: false;
    dynamic: true;
    scrollbar: false;
    background-color: transparent;
}

element {
    orientation: vertical;
    background-color: @surface;
    border: 1px;
    border-color: @overlay;
    border-radius: 12px;
    padding: 10px;
    spacing: 8px;
}

element normal.normal {
    background-color: @surface;
    text-color: @fg;
}

element selected.normal {
    background-color: @overlay;
    text-color: @primary;
    border: 2px;
    border-color: @primary;
}

element-icon {
    size: 150px;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

element-text {
    text-color: inherit;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    lines: 2;
}
